<div class="ui grid home_main">
  <div class="row">
    <div class="center aligned ten wide column">
      <h1 class="header">Meet your next favorite book.</h1>
    </div>
    <div class="four wide column new_account_box">
      <p>New here? Create a free account!</p>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "ui form sign_up_form" }) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.text_field :name, placeholder: "Name", autofocus: true %>
        </div>

        <div class="field">
          <%= f.email_field :email, placeholder: "Email Address" %>
        </div>

        <div class="field">
          <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
        </div>

        <div class="field">
          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password Confirmation" %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up", class: "ui large fluid olive button" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="ui grid">
  <div class="row">
    <div class="eight wide column">
      <div class="ui grid">
        <div class="ten wide center aligned column right floated">
          <h1>Deciding what to read next?</h1>
          <p>You’re in the right place. Tell us what titles or genres you’ve enjoyed in the past, and we’ll give you surprisingly insightful recommendations.</p>
        </div>
      </div>
    </div>

    <div class="eight wide column">
      <div class="ui grid">
        <div class="twelve wide center aligned column left floated">
          <h1>What are your friends reading?</h1>
          <p>Chances are your friends are discussing their favorite(and least favorite) books on Goodreads.</p>
        </div>
      </div>
    </div>

    <div class="ten wide column centered align center aligned home_discovered">
      <h3>What will <i>you</i> discover?</h3>
      <div class="ui grid">

        <div class="row">
          <div class="twelve wide column left aligned">
            <p>Because <%= User.first.name %> liked...</p>
            <div class="ui grid">
              <% Book.first(4).each do |book| %>
                <div class="four wide column">
                <%= image_tag book.cover.url, class: "ui image" %>
                </div>
              <% end %>
            </div>
          </div>
          <div class="four wide column center aligned">
            <p>He discovered:</p>
            <div class="ui grid">
              <div class="twelve wide column centered align">
                <%= image_tag Book.find(5).cover.url, class: "ui image" %>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="twelve wide column left aligned">
            <p>Because <%= User.second.name %> liked...</p>
            <div class="ui grid">
              <% Book.limit(4).offset(15).each do |book| %>
                <div class="four wide column">
                <%= image_tag book.cover.url, class: "ui image" %>
                </div>
              <% end %>
            </div>
          </div>
          <div class="four wide column center aligned">
            <p>He discovered:</p>
            <div class="ui grid">
              <div class="twelve wide column centered align">
                <%= image_tag Book.find(20).cover.url, class: "ui image" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
