<%= form_for :session, url: sign_in_path do |f| %>
  <p>
    <%= f.label :email %> <br>
    <%= f.email_field :email %>
  </p>

  <p>
    <%= f.label :password %> <br>
    <%= f.password_field :password %>
  </p>

  <%= f.submit "Sign in" %>
<% end %>

Not a member? <%= link_to "Sign up", sign_up_path %>
