<div class="ui container">
  <div class="ui vertical segment">
    <div class="ui grid">
      <div class="row">
        <div class="center aligned three wide column">
          <%= image_tag @book.cover.url, class: "ui fluid image" %>
          <div class="ui header">
            <% if current_user && current_user.reviews.pluck(:book_id).include?(@book.id) %>
              <div class="sub header">My rating:</div>
              <div class="ui star rating" data-max-rating="5" data-rating="<%= Review.find_by(user_id: current_user, book_id: @book).rate %>" data-book-id="<%= @book.id %>"></div>
            <% else %>
              <div class="sub header">Rate this book:</div>
              <div class="ui star rating" data-max-rating="5" data-book-id="<%= @book.id %>"></div>
            <% end %>
          </div>
          <%= link_to "Write a review", new_text_review_path(@book), class: "ui mini button" %>
        </div>
        <div class="ui twelve wide column">
          <div class="row">
            <h2 class="ui header">
              <%= @book.title %>
              <div class="sub header">
                <small>by</small> <%= @book.author %>
              </div>
            </h2>

            <div>
              <div class="ui star rating disable" data-max-rating="5" data-rating="<%= @book.avg_rating.to_i %>"></div>
              <%= @book.avg_rating %> - Rating details: <%= @book.reviews.pluck(:rate).length %> Ratings - <%= @book.reviews.pluck(:text).compact.length %> Reviews
            </div>
            <div>
              <%= @book.description %>
            </div>

            <div class="ui divider"></div>
          </div>

          <div class="row">
            <h4 class="ui header">Other details:</h4>
            <% if @book.isbn %>
              <div>ISBN <%= @book.isbn %></div>
            <% end %>
            <div>Published <%= @book.released_date %> by <%= @book.publisher %></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="fifteen wide column">
          <div class="ui dividing header">Community Reviews</div>
        </div>

        <div class="fifteen wide column" style="margin-top: 20px;">
          <% @book.text_reviews.each do |review| %>
            <div class="ui grid">
              <div class="row">
                <div class="two wide column">
                  <%= image_tag review.user.avatar, class: "ui tiny image" %>
                </div>
                <div class="ten wide column">
                  <div class="ui header">
                    <%= link_to review.user.name, review.user %> rated it <div class="ui star rating" data-rating="<%= review.rate %>"></div>
                  </div>
                  <p><%= review.text %></p>
                </div>
                <div class="four wide column right aligned floated">
                  <%= review.updated_at.strftime("%b %d, %Y") %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
