<div class="ui vertical segment" id="rate_books_container">
  <!-- <div class="ui segment"> -->
  <div class="ui grid" style="background-color: #E4F4DA;">
    <div class="row">
      <div class="center aligned column">
        <h1 class="header">Rate Books that You're Read</h1>
        <% if current_user.reviews.count < 20 %>
          <p>We learn about your personal tastes from your ratings.</p>
          <p><b>Rate at least 20 books</b> to get personalized recommendations!</p>
          <%= link_to "I'm finish rating!", recommendations_path %>
        <% else %>
          <p>We've got recommendations for you. Continue rating books to even get better results, or <%= link_to "see your recommendations", recommendations_path %></p>
        <% end %>
      </div>
    </div>
  </div>
  <!-- </div> -->
  <div class="ui grid">
    <div class="ui vertical pointing menu">
      <div class="item">
        <%= search_form_for @q, url: rate_books_path, html: {class: "ui mini form"} do |f| %>
          <div class="ui icon input">
            <%= f.search_field :title_cont, placeholder: "Books.." %>
          </div>
        <% end %>
      </div>
      <div class="item">
        <div class="header">Favorite genres:</div>
        <div class="menu">
          <% @fav_genres.each.with_index do |genre, index| %>
            <a class="genre_link item <%= 'active' if index == 0 %>" data-genre="<%= genre %>"><%= genre.titleize %></a>
          <% end %>
        </div>
      </div>

      <div class="item">
        <div class="header">More genres:</div>
        <div class="menu">
          <% @other_genres.each do |genre| %>
            <a class="genre_link item" data-genre="<%= genre %>"><%= genre.titleize %></a>
          <% end %>
        </div>
      </div>
    </div>

    <div class="twelve wide column genre_books_content">
      <div class="<%= @genre_books.first.genre.name %> fav_content">
        <div class="ui five column grid">
          <%= render partial: "genre_books", collection: @genre_books %>
        </div>
      </div>
    </div>
    <div class="row centered">
      <a class="ui button load_more_books">Load more</a>
    </div>
  </div>
</div>
