<div class="ui container">
  <div class="ui large secondary menu">
    <a href="/" class="item">Home</a>
      <% if signed_in? %>
        <div class="ui dropdown item">
          Browse
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item"><%= link_to "Recommendations", recommendations_path %></div>
            <div class="item"><%= link_to "Explore", rate_books_path  %></div>
            <div class="item"><%= link_to "Popular", books_path  %></div>
          </div>
        </div>
        <div class="menu">
          <div class="item">
            <%= search_form_for @q, url: search_path, html: {class: "ui book_search form"} do |f| %>
            <div class="ui icon input">
              <%= f.search_field :title_or_author_cont, placeholder: "Books, authors" %>
              <i class="search link icon"></i>
            </div>
            <% end %>
          </div>
        </div>
        <div class="ui right dropdown item header_dropdown">
          Actions
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item"><%= link_to "View Profile", current_user %></div>
            <div class="item"><%= link_to "Account Settings", edit_user_registration_path %></div>
            <div class="divider"></div>
            <div class="item"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></div>
          </div>
        </div>
      <% else %>
        <div class="right item">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "ui mini form"}) do |f| %>
          <div class="fields">
            <div class="field">
              <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
            </div>

            <div class="field">
              <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
            </div>

            <div class="field">
              <%= f.submit "Sign In", class: "ui mini black button" %>
            </div>
            </div>
          <% end %>
        </div>
      <% end %>
  </div>
</div>
