<!DOCTYPE html>
<html>
  <head>
    <title>BooksRs</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="body">
    <div class="ui vertical segment">
      <div class="ui grid">
        <%= render "layouts/header" %>
      </div>
    </div>

    <div class="ui vertical segment">
      <% flash.each do |type, message| %>
        <div class="ui message">
          <div class="flash flash-<%= type %>"><%= message %></div>
        </div>
      <% end %>

      <%= yield %>
    </div>
    </div>
    <div class="ui vertical segment">
      <div class="ui grid footer">
        <%= render "layouts/footer" %>
      </div>
    </div>
  </body>
</html>
